<div class="wrapper">
  <table>
    <thead>
    <tr>
      <th><p>Symbol</p></th>
      <th><p>Name</p></th>
      <th><p>Quantity</p></th>
      <th><p>Mkt Value</p></th>
      <th><p>Last Price</p></th>
      <th><p>Avg Price</p></th>
      <th><p>Total Cost</p></th>
      <th><p class="PL">Unrealized P&L</p></th>
      <th><p class="PL">Unrealized P&L%</p></th>
      <th><p>Long/Short</p></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pos of positions">
      <th>{{pos.symbol}}</th>
      <td><p class="name">{{pos.name}}</p></td>
      <td><p class="buy">{{pos.filledQuantity}}</p></td>
      <td><p>{{pos.marketValue}}</p></td>
      <td><p>{{pos.lastPrice}}</p></td>
      <td><p>{{pos.avgPrice}}</p></td>
      <td><p>{{pos.totalCost}}</p></td>
      <td><p>{{pos.unrealizedPL}}</p></td>
      <td><p>{{pos.unrealizedPLPercent}}</p></td>
      <td><p>{{pos.type}}</p></td>
    </tr>
    </tbody>
  </table>
</div>
