<div class="wrapper">
  <table>
    <thead>
    <tr>
      <th><p>Symbol</p></th>
      <th><p>Name</p></th>
      <th><p>Quantity</p></th>
      <th><p>Mkt Value</p></th>
      <th><p>Last Price</p></th>
      <th><p>Avg Price</p></th>
      <th><p>Total Cost</p></th>
      <th><p>Unrealized P&L</p></th>
      <th><p>Unrealized P&L%</p></th>
      <th><p>Long/Short</p></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th>GOOGL</th>
      <td><p class="name">GOOGL LKJHL HJKLKJHLKJ HJKLKJ</p></td>
      <td><p class="buy">2655.57</p></td>
      <td><p>2655.57</p></td>
      <td><p>2655.57</p></td>
      <td><p>2655.57</p></td>
      <td><p>2655.57</p></td>
      <td><p>2655.57</p></td>
      <td><p>2662.52</p></td>
      <td><p>Long</p></td>
    </tr>
    </tbody>
  </table>
</div>
