<div class="wrapper">
  <table>
    <thead>
    <tr>
      <th><p style = "min-width: 4em">Symbol</p></th>
      <th><p style = "min-width: 15em">Name</p></th>
      <th><p>Quantity</p></th>
      <th><p>Mkt Value</p></th>
      <th><p>Last Price</p></th>
      <th><p>Avg Price</p></th>
      <th><p>Total Cost</p></th>
      <th><p class="PL">Unrealized P&L</p></th>
      <th><p class="PL">Unrealized P&L%</p></th>
      <th><p>Long/Short</p></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pos of positions">
      <th>{{pos.symbol}}</th>
      <td><p class="name">{{pos.name}}</p></td>
      <td><p class="buy">{{pos.filledQuantity}}</p></td>
      <td><p>{{pos.marketValue | number : '1.2-2'}}</p></td>
      <td><p>{{pos.lastPrice | number : '1.2-2'}}</p></td>
      <td><p>{{pos.avgPrice | number : '1.2-2'}}</p></td>
      <td><p>{{pos.totalCost | number : '1.2-2'}}</p></td>
      <td><p [ngClass]="(pos.unrealizedPL >=0)?'increasing':'decreasing'">{{pos.unrealizedPL | number : '1.2-2'}}</p>
      </td>
      <td><p
        [ngClass]="(pos.unrealizedPLPercent >=0)?'increasing':'decreasing'">{{pos.unrealizedPLPercent | number : '1.2-2'}}
        %</p></td>
      <td><p>{{pos.type}}</p></td>
    </tr>
    </tbody>
  </table>
</div>
