.wrapper-chart{
  margin-bottom:15px;
  display: flex;
  flex-direction: column;
}
.wrapper{
  border-left:5px solid #5AA454;
  margin-bottom: 5px;
  display:flex;
  flex-direction: row;
}
.stock-name{
  margin-left:10px;
}
.positive{
  color: #5AA454;
  margin-left: 10px;
}

.change{
  display:flex;
}

.change h5{
  margin-left: 10px;
  color: #5AA454;
}
