<div  class="wrapper">
  <div class="wrapper-summary">
    <div *ngFor="let stock of summaryStocks" class="summary-container">
      <div class="summary">
        <h2 class="stock-name">{{stock.symbol}}</h2>
        <h3 class="positive">{{stock.currentPrice | currency}}</h3>
        <div class="change">
          <h4>{{stock.change}}</h4>
          <h4 style="margin-left: 5px;">{{stock.changePercent | number : '1.2-2'}}%</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-chart">
    <div *ngFor="let single of singles | convertStocksToChart" class="chart">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="single"
        [showGridLines]=true
        [gradient]=true
        [yAxis]=true
        [showXAxisLabel]=true
        [showYAxisLabel]=true
      >
      </ngx-charts-line-chart>
    </div>
  </div>



</div>

