.wrapper{
  margin-bottom:15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper-summary{
  margin-bottom: 5px;
  padding-left:0px;
  display:flex;
  flex-direction: row;

}

.summary-container{
  min-width: 400px;
}

.summary-container:nth-child(2){
  margin-left: 15px;
  margin-right: 15px;
}

.summary{
  border-left:5px solid #5AA454;
  margin-left:40px;
}
.stock-name{
  margin-left:10px;
}
.positive{
  color: #5AA454;
  margin-left: 10px;
}

.change{
  display:flex;
  margin-left: 10px;
}

.change{
  margin-left: 10px;
  color: #5AA454;
  display: flex;
  flex-direction: row;

}

.wrapper-chart{
  display:flex;
  flex-direction: row;
}
chart{

}
.chart:nth-child(2){
  margin-left:15px;
  margin-right: 15px;
}

h2, h3, h4{
  font-weight: normal;
  margin-top:0;
  margin-bottom: 3px;
}


