::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.dialog-wrapper {
  width: 300px;
  height: 180px;
}

h4 {
  width: 100%;
  background-color: #f3f0f0;
  height: 25px;
  border-bottom: 1px solid lightgray;
  text-align: center;
  margin-bottom: 0px;
}

.input-wrapper {
  height: 100%;
  width: 100%;
  padding: 25px;
}

.input-container {
  width: 100%;
  height: 100%;
}

.input-container h5 {
  margin: 0;
}

input {
  width: 100%;
}

input:focus {
  outline-color: #4d94e5;
}

:host ::ng-deep .mat-raised-button {
  line-height: 25px;
  font-size: 13px;
}
