.wrapper{
  background-color: blueviolet;
  height: 100%;
  width: 100%;
}

p{
  font-size: 13px;
  font-weight: 500;
}


.title-wrapper{
  background-color: pink;
  height: 18%;
  width: 100%;
  padding: 50px 10px 5px 10px;
  border-bottom: 1px solid red;
}
.title{
  width: 100%;
  height: 100%;
}
input{
  width: 120px;
  border-radius: 3px;
  border: 1px solid lightgray;
  padding-left: 10px;
  font-size: 12px;
  font-weight: 500;
}
input:focus {
  outline-color: transparent;
  padding-left: 10px;
}
.body-wrapper{
  background-color: beige;
  height: 92%;
  width: 100%;
  padding: 10px;
}

.body{
  width: 100%;
  height: 100%;
}
.bid-ask{
  height: 6%;
  width: 100%;
  background-color: palevioletred;
  margin-bottom: 15px;
}
.bid-ask-wrapper{
  height: 100%;
  background-color: green;
  font-size: 12px;
  font-weight: 500;
}
.bid{
  background-color: #B9F6CA;
  width: 43%;
  padding: 2px 10px 2px 10px;
  color: #388E3C;
}
.ask{
  background-color: #ffb5ce;
  width: 43%;
  padding: 2px 10px 2px 10px;
  text-align: right;
  color: #C51162
}
.diff{
  background-color: purple;
  width: 14%;
  text-align: center;
  position: relative;
}
.half-bid{
  background-color: #B9F6CA;
  width: 50%;
  height: 100%;
}
.half-ask{
  background-color: #ffb5ce;
  width: 50%;
  height: 100%;
}
.diff-price{
  position: absolute;
  width:50px;
  height: 100%;
  background-color: #fff;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 30px;
  padding-top: 3px;
}
.side{
  height: 16%;
  width: 100%;
  background-color: yellow;
}

.buy-sell-button{
  height: 35px;
  background-color: brown;
  border: none;
}

h6{
  margin-bottom: 5px;
  font-weight: 500;
  color: gray
}

.buy,
.sell{
  height: 100%;
  padding: 5px 10px 5px 10px;
  background-color: lightgray;
  font-weight: 500;
}

.buy:hover,
.sell:hover{
  background-color: #e8e8e8;
  cursor: pointer
}

.buy{
  color: #43A047;
  width: 49%;
}

.sell{
  text-align: right;
  color: #E91E63;
  width: 51%
}

.selected-buy,
.selected-buy:hover{
  background-color: #43A047;
  color: white;
}

.buy-when-sell-selected{
  color: gray;
}
.sell-when-buy-selected{
  color: gray;
}

.selected-sell,
.selected-sell:hover{
  color: white;
  background-color: #E91E63;
}

.type-quantity-wrapper{
  height: 16%;
  width: 100%;
}

.type{
  background-color: beige;
  width: 50%;
  height: 100%;
}

.quantity{
  width: 50%;
  height: 100%;
}

.quantity input{
  width: 95%;
  height: 32px;
  border: 1px solid lightgray;
  color: #1A237E;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  border-radius: 3px;
}

.quantity input{
  width: 100%;
}

.quantity input:hover{
  /*box-shadow:0px 5px 5px -3px rgb(0 0 0 /20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);*/
  outline-color: transparent;
}

:host ::ng-deep .mat-select-trigger{
  background-color: white;
  color: #1A237E;
  padding: 5px;
  width: 95%;
  border: 1px solid lightgray;
  border-radius: 3px;
  height: 30px;
}

.limit-price{
  height: 16%;
  width: 100%;
}

.limit-price input{
  width: 100%;
  height: 32px;
  border: 1px solid lightgray;
  color: #1A237E;
  font: 400 14px/20px Roboto, "Helvetica Neue", sans-serif;
  border-radius: 3px;
}

.time-hour-wrapper{
  height: 16%;
  width: 100%;
}

.paper-trade{
  height: 16%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.day-input,
.hours-input{
  width: 95%;
  height: 32px;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-top: 5px;
}
.hours-input{
  width: 100%;
}
.time{
  width: 50%;
  border-radius: 3px;
}
.time:hover{
  cursor: not-allowed;
}
.hours{
  width: 50%;
}
.hours:hover{
  cursor: not-allowed;
}

.mat-raised-button{
  width: 30%;
}
.sellBtn{
  background-color: #E91E63;
}

.buyBtn{
  background-color: #43A047;
}
.summary{
  height: 10%;
  width: 100%;
}
.summary h6{
  margin: 0;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 280px !important;
}

::ng-deep .mat-card-header-text{
  margin: 0px !important;
}
.symbols{
  display: flex;
  flex-direction: column;
}

.symbols h4{
  margin-bottom: 0px;
}
mat-option {
  height: 60px !important;
  margin-top:10px;
  border-botom: 1px solid lightgray;
}

mat-option:hover{
  background-color: #d5e7fc !important;
}

:host ::ng-deep .active{
  color: #2196F3 !important;
}


::-webkit-scrollbar {
   width: 8px;
 }

::-webkit-scrollbar-track {
   border-radius: 4px;
   background-color: green;
 }

mat-autocomplete::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: blue;
}

::ng-deep.autocomplete::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::ng-deep.autocomplete::-webkit-scrollbar
{
  width: 10px;
  background-color: #fff;
}

::ng-deep.autocomplete::-webkit-scrollbar-thumb
{
  background-color: #c6c3c3;
  border: 2px solid #c6c3c3;
}
