<div class="wrapper">
  <div class="container-key-stats">
    <div class="key-wrapper" fxLayout="column">
      <h4>AMZN NYSEARCA</h4>
      <div class="key-container" fxLayout="row" fxLayoutGap="10px">
        <h1>346.74</h1>
        <div class="change-container" fxLayout="column" fxLayoutAlign="space-between center">
          <h5>-2.99</h5>
          <h5>-0.86%</h5>
        </div>
      </div>
    </div>
    <div class="h5-wrapper">
      <h5>Key Statistics</h5>
    </div>
    <div class="key-stats" fxLayout="row" fxLayoutGap="15px">
      <div class="first-wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Open</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>High</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>52 Wk High</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Volume</p>
          <p>350.72</p>
        </div>
      </div>
      <div class="second-wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Prev Close</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Low</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>52 Wk Low</p>
          <p>350.72</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Avg Vol(3M)</p>
          <p>350.72</p>
        </div>

      </div>
    </div>
  </div>

</div>
