<form #f="ngForm" (submit)="onSubmit(f)" fxLayout="column" fxLayoutGap="10px">
  <mat-form-field>
    <input matInput
           placeholder="Email Address"
           [(ngModel)]="authUser.email"
           name="email"
           minlength="8"
           maxlength="30"
           required
    >
  </mat-form-field>
  <mat-form-field>
    <input matInput id="mysecretpassword"
           name="password"
           [(ngModel)]="authUser.password"
           type="password"
           placeholder="Password"
           showHideInput
           required
           minlength="8"
           maxlength="15"
    >
    <i matSuffix
       class="material-icons"
       showHideTrigger="mysecretpassword"
       [showHideStatus]="{ materialIcon: true, id: 'mysecretpassword' }"
    ></i>
  </mat-form-field>
  <button mat-raised-button color="primary">Log In</button>

</form>

