<!--FULL EXTENDED HOUR TRADING-->
<div class="feature">
  <div #feature>
  </div>
  <section>
    <div class="animation">
      <div class="text">
        <h2 class="heading-2">
          Full Extended Hours Trading
        </h2>
        <h3 class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </h3>
      </div>
      <div class="visual">
        <img src="assets/full-extended-hour.jpg" alt="">
      </div>
    </div>
  </section>
</div>

<!--24/7 CONNECTED-->
<div class="featureConnected">
  <div #featureConnected>
  </div>
  <section>
    <div class="animation">
      <div class="visual">
        <img src="assets/24_7.jpg" alt="">
      </div>
      <div class="text">
        <h2 class="heading-2">
          Stay Connected 24/7
        </h2>
        <h3 class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </h3>
      </div>
    </div>
  </section>
</div>

<!--ANALYSIS-->
<div class="featureAnalysis">
  <div #featureAnalysis>
  </div>
  <section>
    <div class="animation">
      <div class="text">
        <h2 class="heading-2">
          In-depth Analysis Tools
        </h2>
        <h3 class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum, eos nobis asperiores cumque
          veniam fuga fugit eius ab reiciendis, culpa id recusandae illum
          quisquam!
        </h3>
      </div>
      <div class="visual">
        <img src="assets/analysis.jpg" alt="">
      </div>
    </div>
  </section>
</div>

<!--PRIVILEGES-->
<div class="privileges">
  <div></div>
  <div class="privileges-wrapper">
    <div class="texts">
      <h2 class="heading-2">Trading Privileges</h2>
      <h3 class="paragraph">Diversifying your portfolio with a comprehensive suite of investment products<br>
        including stocks, options, ETFs, and ADRs.</h3>
    </div>
    <div class="privilege-blocks" fxLayout="row" fxLayoutAlign="center">
      <div fxLayout="row" fxLayoutGap="40px">
        <mat-card>
          <mat-card-header>
            <div>
              <div mat-card-avatar class="stocks"></div>
              <p class="heading-p">Stocks</p>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="content-p">Invest in thousands of companies using our trading tools and analytics to create your
              own financial portfolio.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div>
              <div mat-card-avatar class="options"></div>
              <p class="heading-p">Options</p>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="content-p">Options provide a strategic alternative to just investing in equity.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div>
              <div mat-card-avatar class="ETFs"></div>
              <p class="heading-p">ETFs</p>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="content-p">Diversify your holdings by investing into a group of stocks with the same convenience
              as trading a single stock.</p>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-header>
            <div>
              <div mat-card-avatar class="ADRs"></div>
              <p class="heading-p">ADRs</p>
            </div>
          </mat-card-header>
          <mat-card-content>
            <p class="content-p">Invest in foreign companies to diversify your portfolio or take advantage of global
              opportunities.</p>
          </mat-card-content>
        </mat-card>

      </div>
    </div>
  </div>
</div>

<!--OPEN ACCOUNT-->
<div class="open-account">
  <div class="account-wrapper" fxLayout="row">
    <div class="image-wrapper">
<!--      <img src="assets/open-account.jpg" alt="">-->
    </div>
    <div class="text-wrapper">
      <h2>Open a Fidcoin <br>Account Now!</h2>
      <ul>
        <li><h3>Lorem ipsum dolor sit amet  consectetur adipisicing elit. Eum labore
          tempora eveniet adipisci sunt harum</h3></li>
        <li><h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Idu ka sit amet. Eum labore
          tempora eveniet adipisci sunt harum, dolor sit amet consectetur adipisicing elit.
        </h3></li>
        <br>
        <li style="list-style-type: none"><a [routerLink]="['home']"><button mat-raised-button color="primary">Open an Account</button></a></li>
        <br>
        <br>
        <li style="list-style-type: none"><h4 style="max-width: 350px;">*Fidcoin Financial LLC is member of FINRA, SIPC, NASDAQ and NYSE.</h4></li>
      </ul>
    </div>
  </div>
</div>

