<div class="navbar">
  <div>
    <div class="wrap-avatar">
      <div class="avatar"[matMenuTriggerFor]="userMenu" >
        <mat-icon class="person-icon">person</mat-icon>
      </div>
      <h4>{{user}}</h4>
    </div>
    <mat-menu #userMenu="matMenu" xPosition="before" yPosition="above" [overlapTrigger]="false">
      <div style="width: 180px;">
        <p mat-menu-item class="p-matmenu-item">Hi, U_klxF6</p>
        <hr>
        <a mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          <span>My account</span>
        </a>
        <a mat-menu-item>
          <mat-icon>exit_to_app</mat-icon>
          <span>Log out</span>
        </a>
      </div>
    </mat-menu>
  </div>
</div>

<div class="wrapper">
  <app-sidebar></app-sidebar>
</div>
