<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a href="#" id="logo">
    <img src="assets/logo.jpg" class="image">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
            <button mat-flat-button [routerLink]="['/home']"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true}"
            >
              Home
            </button>

      </li>
      <li class="nav-item">
            <button mat-flat-button [routerLink]="['/trade']"
                    routerLinkActive="mat-accent"
                    [routerLinkActiveOptions]="{ exact: true}"
            >
              Trade
            </button>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="user==null">
      <li class="nav-item">
        <button mat-flat-button [routerLink]="['/auth']">Register</button>
      </li>
      <li class="nav-item">
        <button mat-raised-button color="primary" [routerLink]="['/auth']">Log In</button>
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="user!=null">
      <li class="nav-item">
        <button mat-flat-button [routerLink]="['/auth']">Hello, {{user}}</button>
      </li>
<!--      <li class="nav-item" (click)="logout()">-->
<!--        <button mat-raised-button color="primary">Log Out</button>-->
<!--      </li>-->
    </ul>
  </div>


</nav>
