<mat-toolbar>
  <div style="display: flex;flex-direction: row">
    <a href="#" id="logo">
      <img src="assets/logo.jpg" class="image">
    </a>
    <button mat-flat-button [routerLink]="['/home']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true}"
    >
      Home
    </button>
    <button mat-flat-button [routerLink]="['/trade']"
            routerLinkActive="mat-accent"
            [routerLinkActiveOptions]="{ exact: true}"
    >
      Trade
    </button>
  </div>

<div style="display: flex;flex-direction: row">
  <div class="wrap-search">
    <div class="search">
      <mat-icon class="search-icon">search</mat-icon>
      <input matInput type="text" placeholder="Symbol/Name"
             [matAutocomplete]="auto"
             [(ngModel)]="searchSymbol"
             (ngModelChange)="doFilter()"
      >
      <mat-autocomplete #auto="matAutocomplete" [panelWidth]="300" class="autocomplete">
        <mat-option *ngFor="let symbol of (symbols$ | async)" [value]="symbol.symbol">
          <div class="symbols">
            <h4>{{symbol.symbol}}</h4>
            <h5>{{symbol.name | uppercase}}</h5>
          </div>
        </mat-option>
      </mat-autocomplete>
    </div>
  </div>

    <button mat-flat-button [routerLink]="['/auth']">Register</button>
    <button mat-raised-button color="primary" [routerLink]="['/auth']">Log In</button>
  </div>

</mat-toolbar>
