.mynavbar{

  z-index: 1;
  background-color: white;
  min-height: 70px;
}
.navbar{
  box-shadow: 0 3px 2px -2px lightgray;
  background-color: white!important;
}

#logo{
  padding-top: 10px;
}
.image{
  height: 50px;
}

:host ::ng-deep mat-toolbar{
  background-color: #fff;
}


::ng-deep .mat-flat-button:hover{
  color: #2196F3;
}

.wrap-search{
  border-radius: 25px;
  height:35px;
  width: 210px;
  background-color: #e3e0e0;
}

.search{
  display:flex;
  margin: 0 7px 7px 7px;
}
input{
  border:none;
  background-color: #e3e0e0;
  font-size:12px;
  color: gray;
  height: 25px;
  margin-top:5px;
}

input:focus{
  outline: none;
}
input::placeholder{
  color: gray;
}

.search-icon{
  color: gray;
  margin-top: 5px;
}

.wrap-avatar{
  display:flex;
  flex-direction: row;
  margin-left: 25px;
}

.avatar{
  height:35px;
  width: 35px;
  border-radius: 100%;
  background-color: #90CAF9;
}

.avatar:hover{
  cursor: pointer
}

.person-icon{
  color: #1565C0;
  font-size: 25px;
  margin-top:4px;
  margin-left:4px;
}
.wrap-avatar h4{
  font-size: 16px;
  font-weight: normal;
  margin-left: 10px;
}

.mat-menu{
  width: 200px;
}

.p-matmenu-item{
  margin-bottom: 0px;
}

hr{
  background-color: lightgray;
  border-top: none;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 280px !important;
}

::ng-deep .mat-card-header-text{
  margin: 0px !important;
}
.symbols{
  display: flex;
  flex-direction: column;
}

.symbols h4{
  margin-bottom: 0px;
}
mat-option {
  height: 60px !important;
  margin-top:10px;
  border-botom: 1px solid lightgray;
}

mat-option:hover{
  background-color: #d5e7fc !important;
}

:host ::ng-deep .active{
  color: #2196F3 !important;
}

::ng-deep .mat-flat-button{
  font-size: 18px;
}

::ng-deep .mat-flat-button.mat-accent{
  background-color: white;
  color: #2196F3;
  font-size: 18px;
  font-weight: 500;
}

:host ::ng-deep .mat-raised-button{
  border-radius: 25px;
  background-color: #2196F3;
  font-size: 17px;
}

@media (min-width: 992px){
  .navbar{
    padding: 0 150px 0 150px;
  }
}

