<div class="wrapper">
  <div class="container-key-stats">
    <div class="key-wrapper" fxLayout="column">
      <h4>{{daily.symbol | uppercase}} NASDAQ</h4>
      <div class="key-container" fxLayout="row" fxLayoutGap="10px">
        <h1 [ngClass]="(daily.change >=0)?'increasing':'decreasing'">{{daily.price | currency:'':''}}</h1>
        <div class="change-container" fxLayout="column" fxLayoutAlign="space-between left">
          <h5 [ngClass]="(daily.change >=0)?'increasing':'decreasing'">Change: {{daily.change}}</h5>
          <h5 [ngClass]="(daily.changeInPercent >=0)?'increasing':'decreasing'">Change in
            percent: {{daily.changeInPercent}}%</h5>
        </div>
      </div>
    </div>
    <div class="h5-wrapper">
    </div>
    <div class="key-stats" fxLayout="row" fxLayoutGap="15px">
      <div class="first-wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Open</p>
          <p [ngClass]="(daily.open >daily.prevClose)?'increasing':'decreasing'">{{daily.open | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>High</p>
          <p [ngClass]="(daily.open >daily.prevClose)?'increasing':'decreasing'">{{daily.high | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>52 Wk High</p>
          <p [ngClass]="'stable'">{{daily.week_high_52 | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Volume</p>
          <p [ngClass]="'stable'">{{daily.volume | number : '1.0-0'}}</p>
        </div>
      </div>
      <div class="second-wrapper">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Prev Close</p>
          <p [ngClass]="'stable'">{{daily.prevClose | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Low</p>
          <p [ngClass]="(daily.open >daily.prevClose)?'increasing':'decreasing'">{{daily.low | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>52 Wk Low</p>
          <p [ngClass]="'stable'">{{daily.week_low_52 | number : '1.2-2'}}</p>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between">
          <p>Avg Vol (3M)</p>
          <p [ngClass]="'stable'">{{daily.avg_vol_3_months | formatVolume}}</p>
        </div>

      </div>
    </div>
  </div>

</div>
