.wrapper-watchlist {
  height: 100%;
}

.wrapper-my-watchlist {
  height: 63%;
  padding-top: 55px;
  padding-left: 4vw;
  background-color: #fff;
}

.add-symbol-wrapper {
  margin: 22px 0 0 25px;
  position: relative;
}

.add-symbol-wrapper:hover {
  cursor: pointer;
  color: #1565C0;
}

.add-symbol-wrapper p:hover {
  color: #1565C0;
}

p {
  font-size: 13px;
  margin: 0px;
}

mat-icon {
  font-size: 18px;
  color: gray;
  padding-top: 3px;
}

input {
  width: 250px;
  border: none
}

input:focus {
  outline-color: #1565C0;
}

::ng-deep .mat-autocomplete-panel {
  max-height: 280px !important;
  margin-top: 5px;
}

::ng-deep .mat-card-header-text {
  margin: 0px !important;
}

.symbols {
  display: flex;
  flex-direction: column;
}

.symbols h4 {
  margin-bottom: 0px;
}

mat-option {
  height: 60px !important;
  margin-top: 10px;
  border-botom: 1px solid lightgray;
}

mat-option:hover {
  background-color: #d5e7fc !important;
}

.searchbar-wrapper {
  position: absolute;
  margin-top: -20px;
  margin-left: 25px;
  background-color: #f1f0f0;
  padding: 5px 0px 5px 5px;
}

.mat-icon:hover {
  cursor: pointer;
  color: #d0cccc;
}

::ng-deep input.mat-input-element {
  margin-top: 0 !important;
}


.wrapper-footer {
  height: 35vh;
  background-color: lightgray;
}

@media (min-width: 0px){
  .bottom-wrapper {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    row-gap:10px;
    flex-wrap: wrap;
    background-color: lightgray;
  }

}
@media (min-width: 0px){

}
