<div class="wrapper">
  <div class="title-wrapper">
    <p>Watchlist</p>
  </div>
  <div class="body">
    <div class="body-wrapper">
      <mat-select placeholder={{selectedWatchlist.name}} (selectionChange)="updateWatchlistWS($event)">
        <mat-option *ngFor="let wl of watchlists" value = {{wl.name}}>{{wl.name}}</mat-option>
      </mat-select>
      <div class="symbols-wrapper" *ngFor="let daily of dailies">
        <div class="title-symbols" fxLayout="row" fxLayoutAlign="space-between">
          <p>Name</p>
          <p>Price/Change</p>
        </div>
        <div class="symbols">
          <div class="symbol" fxLayout="row" fxLayoutAlign="space-between">
            <p>{{daily.symbol}}</p>
            <p>{{daily.price | currency}}</p>
          </div>
          <div class="platform" fxLayout="row" fxLayoutAlign="space-between">
            <h6>NASDAQ</h6>
            <div clas="change" fxLayout="row" fxLayoutGap="10px">
              <h6>{{daily.change}}</h6>
              <h6>{{daily.changeInPercent}}%</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
