<div class="wrapper">
  <div class="title-wrapper">
    <p>Watchlist</p>
  </div>
  <div class="body">
    <div class="body-wrapper">
      <mat-select placeholder="My-Watchlist">
        <mat-option value="LIMIT">LIMIT</mat-option>
        <mat-option value="MARKET">MARKET</mat-option>
      </mat-select>
      <div class="symbols-wrapper">
        <div class="title-symbols">
          <p>Name</p>
        </div>
        <div class="symbols">
          <div class="symbol" fxLayout="row" fxLayoutAlign="space-between">
            <p>IXIC</p>
            <p>14,836.99</p>
          </div>
          <div class="platform" fxLayout="row" fxLayoutAlign="space-between">
            <h6>NASDAQ</h6>
            <div clas="change" fxLayout="row" fxLayoutGap="10px">
              <h6>+152.39</h6>
              <h6>+1.04%</h6>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>
