<div class="wrapper" fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="start center">
  <button mat-button
          [routerLink]="['watchlist']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true}"
          matTooltip="Watchlist"
          matTooltipPosition="right"
  >
    <mat-icon>visibility</mat-icon>
  </button>
  <button mat-button
          [routerLink]="['paper']"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true}"
          matTooltip="Paper Trade"
          matTooltipPosition="right"
  >
    <mat-icon>bar_chart</mat-icon>
  </button>

</div>
