<div class="dialog-wrapper" fxLayout="column">
  <h4>Edit Watchlists</h4>
  <div class="watchlist-wrapper">
    <div class="watchlist-container" fxFlexFill fxLayout="column" fxLayoutAlign="space-between">
      <div class="watchlist-list">
        <div *ngFor="let wl of myWL; let i=index" class="watchlist" fxLayout="row" fxLayoutAlign="space-between">
          <p *ngIf="wl.editable===false">{{wl.watchlist}}</p>
          <div
            *ngIf="wl.editable===true"
            class="edit-wrapper"
          >
            <input
              [(ngModel)]="wl.watchlist"
              style="width: 200px; border: 1px solid lightgray;"
              value={{wl.watchlist}}
            >
            <div fxLayout="row" fxLayoutGap="10px" style="margin-top: 10px;">
              <button (click)="update(i)" mat-raised-button>Update</button>
              <button (click)="cancel(i)" color="primary" mat-raised-button>Cancel</button>
            </div>
          </div>
          <div fxLayout="row" style="margin-bottom: 10px;">
            <mat-icon
              (click)="edit(i)"
              class="edit-icon"
              matTooltip="Edit"
              matTooltipPosition="below"
            >edit
            </mat-icon>
            <mat-icon
              (click)="delete(i)"
              class="delete-icon"
              matTooltip="Delete"
              matTooltipPosition="below"
            >delete
            </mat-icon>
          </div>
        </div>
      </div>
      <div (click)="addWatchlist()" class="add-wrapper">
        <div fxLayout="row">
          <mat-icon>add</mat-icon>
          <p>Add Watchlist</p>
        </div>
      </div>
    </div>
  </div>
</div>
