<div class="wrapper">
  <table>
    <thead>
    <tr>
      <th><p style = "min-width: 4em">Symbol</p></th>
      <th><p style = "min-width: 15em">Name</p></th>
      <th><p style = "min-width: 4em">Side</p></th>
      <th><p>Filled Orders/Total</p></th>
      <th><p>Order Status</p></th>
      <th><p style = "min-width: 4em">Filled Qty</p></th>
      <th><p>Filled Time</p></th>
      <th><p>Limit Price</p></th>
      <th><p style = "min-width: 4em">Average Price</p></th>
      <th><p style = "min-width: 4em">Order Type</p></th>
      <th><p style = "min-width: 4em">TIF</p></th>
      <th><p>Extended Hours</p></th>
      <th><p>Order Placed</p></th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of orders">
      <th>{{order.symbol.symbol}}</th>
      <td><p>{{order.symbol.name}}</p></td>
      <td><p [ngClass]="[order.orderSide==='BUY'?'buy':'sell']">{{order.orderSide}}</p></td>
      <td [ngClass] = "[order.newlyFilled === true&&order.orderSide==='BUY'?'filled-buy':'',order.newlyFilled === true&&order.orderSide==='SELL'?'filled-sell':'']"><p>{{(order.orderStatus == 'WORKING' ? 0 : order.filledQuantity)}}/{{order.filledQuantity}}</p></td>
      <td [ngClass] = "[order.newlyFilled === true&&order.orderSide==='BUY'?'filled-buy':'',order.newlyFilled === true&&order.orderSide==='SELL'?'filled-sell':'']"><p>{{order.orderStatus}}</p></td>
      <td><p>{{order.filledQuantity}}</p></td>
      <td [ngClass] = "[order.newlyFilled === true&&order.orderSide==='BUY'?'filled-buy':'',order.newlyFilled === true&&order.orderSide==='SELL'?'filled-sell':'']"><p>{{(order.filledTime == null) ? '-' : (order.filledTime | date:'yyyy-MM-dd hh:mm:ss')}}</p></td>
      <td><p>{{order.limitPrice}}</p></td>
      <td [ngClass] = "[order.newlyFilled === true?'filled':'']"><p>{{order.avgPrice}}</p></td>
      <td><p>{{order.orderType}}</p></td>
      <td><p>Day</p></td>
      <td><p>No</p></td>
      <td><p>{{order.orderPlaced | date:'yyyy-MM-dd hh:mm:ss'}}</p></td>

    </tr>
    </tbody>
  </table>
</div>
