<div class="wrapper">
      <table>
        <thead>
        <tr>
          <th><p>Symbol</p></th>
          <th><p>Name</p></th>
          <th><p>Side</p></th>
          <th><p>Filled Orders/Total</p></th>
          <th><p>Limit Price</p></th>
          <th><p>Stop Price</p></th>
          <th><p>Filled Qty</p></th>
          <th><p>Filled Time</p></th>
          <th><p>Average Price</p></th>
          <th><p>Order Type</p></th>
          <th><p>TIF</p></th>
          <th><p>Extended Hours</p></th>
          <th><p>Order Placed</p></th>
          <th><p>Order Status</p></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th>GOOGL</th>
          <td><p>GOOGL LKJHL HJKLKJHLKJ HJKLKJ</p></td>
          <td><p class="buy">BUY</p></td>
          <td><p>2</p></td>
          <td><p>2655.57</p></td>
          <td><p>0</p></td>
          <td><p>2</p></td>
          <td><p>07/23/2021 19:20:20 EST</p></td>
          <td><p>2662.52</p></td>
          <td><p>LIMIT</p></td>
          <td><p>Day</p></td>
          <td><p>No</p></td>
          <td><p>07/23/2021 19:20:20 EST</p></td>
          <td><p>Cancelled</p></td>
        </tr>
        </tbody>
      </table>
</div>
