<div class="banner">
  <!-- CONTENT -->
  <div class="content">
    <div class="container">
      <div class="row">
        <!-- CONTENT TEXT -->
        <div class="col-md-6 content-text">
          <h6>Get smart tools for smart investing</h6>
          <br>
          <h1>Enjoy Tech.</h1>
          <br>
          <h1>Enjoy Investing.</h1>
          <a href="#">GET STARTED</a>
        </div>
        <!-- CONTENT IMAGE -->
        <div class="col-md-6 content-img" style="margin-top:50px;">
          <img src="assets/mobile-img.png" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="wave"></div>
</div>


