<div class="wrapper">
  <div class="title-wrapper">
      <div class="title" fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="left center">
        <input matInput placeholder="Symbol"
               [matAutocomplete]="auto"
               [(ngModel)]="searchSymbol"
               (ngModelChange)="doFilter()"
        >
        <mat-autocomplete #auto="matAutocomplete" [panelWidth]="300" class="autocomplete">
          <mat-option *ngFor="let symbol of (symbols$ | async) " [value]="symbol.symbol">
            <div class="symbols">
              <h4>{{symbol.symbol}}</h4>
              <h5>{{symbol.name | uppercase}}</h5>
            </div>
          </mat-option>
        </mat-autocomplete>
        <p>0.580</p>
        <p>0.000</p>
        <p>0.00%</p>
    </div>
  </div>
  <div class="body-wrapper">
    <div class="title-chart" fxLayout="row" fxLayoutGap="20px">
      <button mat-flat-button (click)="setInterval(30)" [ngClass]="interval===30?'active':''">01 Month</button>
      <button mat-flat-button (click)="setInterval(90)" [ngClass]="interval===90?'active':''">03 Months</button>
      <button mat-flat-button (click)="setInterval(180)" [ngClass]="interval===180?'active':''">06 Months</button>
      <button mat-flat-button (click)="setInterval(365)" [ngClass]="interval===365?'active':''">01 Year</button>
    </div>
    <div class="body">
      <div id="chart" *ngIf="chartOptions!=null">
        <apx-chart
          [series]="chartOptions.series"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xaxis"
          [yaxis]="chartOptions.yaxis"
          [title]="chartOptions.title"
        ></apx-chart>
      </div>
    </div>
  </div>
</div>
