.papertrade-wrapper{
  height:100%;
  background-color: #5AA454;
}

.account-watchlist-wrapper{
  width: 20%;
  height: 100%;
  background-color: pink;
  overflow: hidden;
}

.buysell-order-chart-wrapper{
  width: 80%;
  height: 100%;
  background-color: blue;
}

.buysell-chart-wrapper{
  width: 100%;
  background-color: gold;
  height: 65%;
}


.buysell-wrapper{
  width: 35%;
  height: 100%;
  background-color: deeppink;
}

.chart-wrapper{
  width: 65%;
  height: 100%;
  background-color: aqua;
}

.order-position-wrapper{
  width: 100%;
  height: 40%;
  margin-top: 5px;
  padding: 5px 10px 50px 10px;
  background-color: #fff;
}

.inner-wrapper{
  width: 100%;
  height: 100%;
}

.position-orders-title{
  height: 10%;
  width: 100%;
  padding: 5px;
}

.position-orders-title p{
  line-height: 1;
}

.position-orders-title p:hover{
  cursor: pointer;
}

.op-wrapper{
  height: 100%;
  width: 100%;
}
.active{
  color: #2196F3;
  font-weight: 500;
}

