<div class="papertrade-wrapper" fxLayout="row" fxLayoutGap="5px">
  <div class="account-watchlist-wrapper">
    <app-account (buyingPower)="handleBuyingPower($event)"></app-account>
    <app-paper-watchlist></app-paper-watchlist>
  </div>
  <div class="buysell-order-chart-wrapper">
    <div class="buysell-chart-wrapper" fxLayout="row" fxLayoutGap="5px">
      <div class="buysell-wrapper">
        <app-buysell [buyingPower]="buyingPower"></app-buysell>
      </div>
      <div class="chart-wrapper">
        <app-chart></app-chart>
      </div>

    </div>
    <div class="order-position-wrapper">
        <div class="inner-wrapper" fxLayout="column">
          <div class="position-orders-title" fxLayout="row" fxLayoutGap="10px">
            <p (click)="showOrders('order')" [ngClass]="shouldShowOrder==true?'active':''">Orders</p>
            <p (click)="showOrders('position')" [ngClass]="shouldShowOrder==false?'active':''">Positions</p>
          </div>
          <div *ngIf="shouldShowOrder===true" class="op-wrapper">
            <app-order></app-order>
          </div>
          <div *ngIf="shouldShowOrder===false" class="op-wrapper">
            <app-position></app-position>
          </div>
        </div>
    </div>

  </div>
</div>
