<div class="wrapper">
  <div class="news-container">
    <div class="h4-container">
      <h4>News</h4>
    </div>
    <div class="news-container">
      <div class="news"  *ngFor="let n of news">
        <a href={{n.link}} fxLayout="row" fxLayoutGap="30px">
          <div class="time-symbol" fxLayout="row">
            <h5 class="date-h5">{{n.pubDate | formatDate}}</h5>
            <h5 class="symbol-h5">{{n.symbol}}</h5>
          </div>
          <div class="title-news">
            <h5 class="title">{{n.title}}</h5>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
